.boxes{
    border: 2px solid #000;
    margin: 10px;
    width: 30%;
    display: inline-block;
}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body{
        background-color: green;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
        background-color: aquamarine;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    body{
        background-color: red;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body{
        background-color: lightsalmon;
    }
 }